Django==5.2.4
django-taggit==6.1.0
djangorestframework==3.16.0
et-xmlfile==1.1.0
fonttools==4.25.0
inflection==0.5.1
munkres==1.1.4
mysql-connector-python==9.3.0
openpyxl==3.0.10
patsy==0.5.3
ply==3.11
protobuf==3.20.3
psycopg2-binary==2.9.10
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
webencodings==0.5.1
